name: Labeling new issue
on:
  issues:
      types: ['opened', 'edited']
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: Renato66/auto-label@v2.3.1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          labels-not-allowed: '["Falta Informações","Request changes","stale"]'
          labels-synonyms: '{"pleno":["mid", "middle", "plain"],"remoto":["remote", "home-office", "home"], "hibrido":["hybrid"], "presencial":["office"], "contrato":["clt"], "rv":["pj","cooperado"]}'
